[class^=box]{
	width: 500px;
	height: 300px;
	float: left;
}

.box1{
	background-image: url(68747470733a2f2f6c68332e676f6f676c6575736572636f6e74656e742e636f6d2f2d377a5a744d485978514b6f2f55386464626432567a48492f41414141414141414354492f4c30362d39574d413976672f773830302d683630302d6e6f2f62672e706e67.png);
	background-repeat: no-repeat;
}

.box2{
	background-image: url(68747470733a2f2f6c68332e676f6f676c6575736572636f6e74656e742e636f6d2f2d377a5a744d485978514b6f2f55386464626432567a48492f41414141414141414354492f4c30362d39574d413976672f773830302d683630302d6e6f2f62672e706e67.png);
	background-repeat: no-repeat;
	background-position: 50px 50px;

}

.box3{
	background-image: url(68747470733a2f2f6c68332e676f6f676c6575736572636f6e74656e742e636f6d2f2d377a5a744d485978514b6f2f55386464626432567a48492f41414141414141414354492f4c30362d39574d413976672f773830302d683630302d6e6f2f62672e706e67.png);
	background-repeat: no-repeat;
	background-position: -50px -50px;

}